/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{
    display:flex;
    background-color: lightblue;
    border: 50px;
    flex-wrap: wrap;
    flex-direction: column;

}

.footer{
    display:flex;
    flex:1;
}

.article{

}

.superior{
    display:flex;
    flex:2;
} */
header{
    display:flex;
    justify-content: center;
    align-self: flex-start;
    background-color: #2e064e;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    width: 100%;
}

.button{
    color: #FFF;
    background-color: #c084fc;
    padding: 10px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    text-decoration: none;
    transition: background-color 0.2s ease;
    width: 100px;
    margin: 10px;
    
}

.button:hover{
    background-color: #972eff;
    text-decoration: underline;
}

.container{
    background-color: #d8b4fe;
    display:flex; /* Define que o conteúdos dentro de uma div fiquem flexíveis, podendo ser organizados em uma página */
    justify-content: center; /* Alinha os conteúdos dentro dessa div horizontalmente, como texto: esquerda, meio, direita, com espaço entre etc.*/
    align-items:center; /* Alinha os conteúdos dentro dessa div verticalmente, no topo, meio, fim, linha de base etc. */
    flex-wrap: wrap; /* Caso o tamanho dos elementos exceda, é "quebrado uma linha" e colocado os elementos abaixo */
    height: 100vh;
}

.content{
    display:flex; /* Define que o conteúdos dentro de uma div fiquem flexíveis, podendo ser organizados em uma página */
    justify-content: center; /* Alinha os conteúdos dentro dessa div horizontalmente, como texto: esquerda, meio, direita, com espaço entre etc.*/
    align-items:center; /* Alinha os conteúdos dentro dessa div verticalmente, no topo, meio, fim, linha de base etc. */
    flex-direction: column;
    height: 70vh; /* para distribuirmos os tamanhos igualmente entre os elementos usando a propriedade "flex", o content precisa ter uma altura predefinida */
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
}

/* Para usar a propriedade flex, é obrigatório usar a propriedade "display: flex" em todos os seletores */
.footer{
    display: flex; 
    width: 1000px; /* acho que eu preciso especificar uma largura para footer. não sei se tem como fazer de outra maneira,  de ocupar toda a largura do content (deve ter, mas eu sou voado) */
    flex:1;
    background-color: #3b0764;
    color: white;
}

.menu{
    display: flex;
    flex: 1;
    background-color: #581c87;
    color: white;
}

.header{
    display: flex;
    flex: 1;
    background-color: #9333ea;
    color: white;
}

.article{
    display: flex;
    flex: 1;
    background-color: #6b21a8;
    color: white;
}

#article-light-color{
    background-color: #7e22ce;
}

.block1{
    display: flex;
    flex: 2;
    width: 1000px;
}

.block2{
    display: flex;
    flex: 2;
    flex-direction: column;
}

.block3{
    display: flex;
    flex: 1;
}

/* Layout2 */