/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{
    display:flex;
    background-color: lightblue;
    border: 50px;
    flex-wrap: wrap;
    flex-direction: column;

}

.footer{
    display:flex;
    flex:1;
}

.article{

}

.superior{
    display:flex;
    flex:2;
} */
.container{
    background-color: rgb(255, 232, 232);
    display:flex; /* Define que o conteúdos dentro de uma div fiquem flexíveis, podendo ser organizados em uma página */
    justify-content: center; /* Alinha os conteúdos dentro dessa div horizontalmente, como texto: esquerda, meio, direita, com espaço entre etc.*/
    align-items:center; /* Alinha os conteúdos dentro dessa div verticalmente, no topo, meio, fim, linha de base etc. */
    flex-wrap: wrap; /* Caso o tamanho dos elementos exceda, é "quebrado uma linha" e colocado os elementos abaixo */
    height: 100vh;
}

.content{
    display:flex; /* Define que o conteúdos dentro de uma div fiquem flexíveis, podendo ser organizados em uma página */
    justify-content: center; /* Alinha os conteúdos dentro dessa div horizontalmente, como texto: esquerda, meio, direita, com espaço entre etc.*/
    align-items:center; /* Alinha os conteúdos dentro dessa div verticalmente, no topo, meio, fim, linha de base etc. */
    flex-direction: column;
    height: 70vh; /* para distribuirmos os tamanhos igualmente entre os elementos usando a propriedade "flex", o content precisa ter uma altura predefinida */
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
}

.purple-back{
    background-color: rgb(114, 54, 114);
}

/* Para usar a propriedade flex, é obrigatório usar a propriedade "display: flex" em todos os seletores */
.footer{
    display: flex; 
    width: 1000px; /* acho que eu preciso especificar uma largura para footer. não sei se tem como fazer de outra maneira,  de ocupar toda a largura do content (deve ter, mas eu sou voado) */
    flex:1;
    color: white;
}

.menu{
    display: flex;
    flex: 1;
    background-color:rgb(88, 47, 126);
    color: white;
}

.header{
    display: flex;
    flex: 1;
    background-color: rgb(181, 248, 221)
}

.article{
    display: flex;
    flex: 1;
    background-color: rgb(87, 148, 184);
}

#article-light-color{
    background-color: rgb(124, 164, 187);
}

.block1{
    display: flex;
    flex: 2;
    width: 1000px;
}

.block2{
    display: flex;
    flex: 2;
    flex-direction: column;
}

.block3{
    display: flex;
    flex: 1;
}